/* Font Styles */
.quicksand{
    font-family: "Quicksand", serif;
}

.contentMargin {
    max-width: 1440px;
    margin: 0 auto;
}

/* Shared Styles */
.bgImage{
    background-image: url(/assets/bg.png);
}

.orangeButton{
    font-size: 1.25rem;
    padding: 10px 40px;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    color: white;
}

.blackButton{
    font-size: 1.25rem;
    padding: 10px 40px;
    background-color: #111;
    border-radius: 12px;
    border: none;
    color: white;
}

.stCardTitle{
    font-size: 1.6rem;
}

.cardDescription{
    color: #808080;
    font-size: 1rem;
    font-family: "Raleway", serif;
    line-height: 1.5rem;
}





/* Navbar Styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navLogo h3{
    font-size: 2rem;
    font-weight: 700;
}

.navMenu ul{
    display: flex;
}

.navMenu ul li {
    list-style: none;
}

.navMenu ul li a{
    text-decoration: none;
    margin-right: 32px;
}

.menuHome{
    color:#FEA301;
    font-size: 1.25rem;
    font-weight: 700;
}

.menuAbout{
    color:#01ACFD;
    font-size: 1.25rem;
    font-weight: 500;
}

.menuFacilities{
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 500;
}

.menuAdmission{
    color: #5D58EF;
    font-size: 1.25rem;
    font-weight: 500;
}


.hiddenMenu{
    display: none;
}

/* Banner Section Styles */

.bannerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bannerTitle {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.titleOrange{
    color: #FEA301;
}

.titleBlue{
    color: #01ACFD;
}

.bannerContent p{
    font-size: 1.25rem;
}

/* Standard Section Styles */

.standardSection h1{
    color: #000;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 80px;
}

.stCardContainer{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.stCards{
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    padding: 50px 40px;
    text-align: center;
}
.stCards img{
    margin-bottom: 32px;
}

.stCards h3{
    margin-bottom: 32px;
}

.stCards p{
    margin-bottom: 52px;
    text-decoration: none;
}

.stCards a{
    margin-bottom: 32px;
}

.kinderCard{
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.elementaryCard{
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.middleCard{
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.stLinks{
    text-decoration: none;
}

.kinderLink{
    color: #64C8FF;
}

.elementaryLink{
    color: #F0AA00;
}

.middleLink{
    color: #8700FF;
}

.stArrowContainer{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.stArrow{
    border: none;
    background-color: #FEA301;
    padding: 20px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
}




/* RESPONSIVE DESIGN */
/* Mobile device */
@media screen and (max-width: 576px){
    header {
        padding: 17px ;
    }

    /* Nav Section */
    .navLogo h3{
        display: none;
    }

    .navMenu {
        display: none;
    }

    .navButton{
        display: none;
    }
    .hiddenMenu {
        display: block;
    }

    .hiddenMenu i{
        font-size: 2.5rem;
    }
    /* Banner Section */

    .bannerSection{
        flex-direction: column-reverse;
    }

    .bannerContent{
        text-align: center;
    }

    .bannerTitle {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 24px;
    }
    .bannerContent p{
        font-size: 1rem;
    }

    /* Standard Section */
    .standardSection h1{
        font-size: 2rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .stCardContainer{
       flex-direction: column;
       padding: 0 17px;
    }

    .stArrowContainer{
        display: none;
    }

    



}





